option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_db_permissions:
    command: "chmod 664 /var/app/current/db.sqlite3"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
  04_createsuperuser:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && DJANGO_SUPERUSER_PASSWORD=admin123 python manage.py createsuperuser --username pimpalshende --email admin@admin.com --noinput || true"
    leader_only: true
