option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application

container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput && chmod 777 /tmp/db.sqlite3"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
  03_createsuperuser:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && DJANGO_SUPERUSER_PASSWORD=admin123 python manage.py createsuperuser --username pimpalshende --email admin@admin.com --noinput || true"
    leader_only: true
